<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <context:annotation-config />
  <context:component-scan base-package="hillel.jee" />

  <!--<bean class="hillel.jee.Game">-->
    <!--<property name="computer" ref="computerPlayer" />-->
    <!--<property name="human" ref="humanPlayer" />-->
  <!--</bean>-->

  <!--<bean id="humanPlayer" class="hillel.jee.Human" primary="true" />-->
  <!--<bean id="computerPlayer" class="hillel.jee.Computer" />-->

</beans>

